/upload/system/cache
cache
/upload/system/logs/error.txt
/upload/.settings
/upload/catalog2
/upload/.project
/upload/.buildpath
/.buildpath
/.project
/.settings/org.eclipse.php.core.prefs
/.settings/org.eclipse.wst.common.project.facet.core.xml
