html {
	overflow:-moz-scrollbars-vertical;
	margin:0;
	padding:0;
}
html, body{
	margin:0;
	padding:0;
}
body {
	color:#000;
	font-family:Helvetica,Arial,sans-serif;
	background:#fff;
	border-top:5px solid #127ad3;
}
body, td, th, input, textarea, select, a {
	font-size:12px;
}

/* ------- Headings & Paragraphes Styles ------------------------------------------- */

h1, .welcome {
	padding:7px 5px 11px 12px;
	font-size:13px;
	font-weight:bold;
	line-height:14px;
	color:#fff;		
	-webkit-border-radius:5px 5px 0 0;
	-moz-border-radius:5px 5px 0 0;
	-khtml-border-radius:5px 5px 0 0;
	border-radius:5px 5px 0 0;
	background:#51bdeb url(../image/box-top-bg.png) repeat-x bottom;
	margin-bottom:0;
}
h2 {
	color:#000;
	font-size:16px;
	margin:0 0 5px 0;
	font-weight:normal;
}
h1, h2, h3, h4, h5, .welcome, .box .box-heading, .box .box-content li{
	font-family:"Lucida Sans Unicode", "Lucida Grande", Garuda, sans-serif;
}
p {
	margin:0 0 20px 0;	
}

/* ------- Genric Styles ------------------------------------------- */

a, a:visited, a b {
	color:#106ecc;
	text-decoration:underline;
	cursor:pointer;
	outline:none;
}
a:hover {
	text-decoration:none;
}
a img {
	border:none;
}
.floatleft{float:left;}
.floatright{float:right;}

/* ------- Clearfix Styles ------------------------------------------- */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.clearfix {
    *zoom: 1;
}

/* ------- Form Styles ------------------------------------------- */

form {
	padding: 0;
	margin: 0;
	display: inline;
}
input[type='text'], input[type='password'], textarea {
	background:#f8f8f8;
	border:1px solid #ccc;
	padding:3px;
	margin-left:0;
	margin-right:0;
}
select {
	background:#f8f8f8;
	border:1px solid #ccc;
	padding:2px;
}
label {
	cursor:pointer;
}

/* ------- Layout Styles ------------------------------------------- */

#container{
	width:980px;
	margin:0 auto;	
	text-align:left;
	position:relative;
}
	#cols-wrap{
		position:relative;
	}
		#column-left{
			float:left;
			width:180px;
		}
		#column-right{
			float:right;
			width:180px;
		}
		#content{
			min-height:400px;
			margin-bottom:25px;
		}
		#column-left + #column-right + #content, #column-left + #content{
			margin-left:195px;
		}
		#column-left + #column-right + #content, #column-right + #content{
			margin-right:195px;
		}
		#column-left, #column-right{
			margin-top:0;
		}
		#content{
			margin-top:45px;
		}
		#container-home #column-left, #container-home #column-right, #container-home #content{
			margin-top:0;
		}
		.content-inner{
			padding:20px;
			border:1px solid #d3d3d3;
		}

/* ------- Header Styles ------------------------------------------- */		
	
#header{
	height:90px;	
	position:relative;
	z-index:99;
}
	#header .floatright{
		height:85px;
		overflow:hidden;
		width:650px;
	}

/* ------- Logo Styles ------------------------------------------- */	

	#header #logo{
		float:left;
		width:300px;
		padding:30px 0 0 0;
	}
	
/* ------- Header Links Styles ------------------------------------------- */	

	#header-links-wrap{
		width:650px;
		float:right;
	}
		#header-links{
			float:right;
			-webkit-border-radius:0 0 5px 5px;
			-moz-border-radius:0 0 5px 5px;
			-khtml-border-radius:0 0 5px 5px;
			border-radius:0 0 5px 5px;
			background:#106ecc url(../image/header-links-bg.png) repeat-x top;	
			padding:4px 10px 8px 10px;
		}
			#header-links ul{
				list-style:none;
				margin:0;
				padding:0;
			}
				#header-links li{
					padding:0 5px;
				}
				#header-links li, #header-links li a{
					display:block;
					float:left;
					color:#fff;
					text-decoration:none;
					font-size:11px;
					font-weight:bold;
				}
					#header-links li a span{
						font-weight:normal;
					}
						#header-links li a:hover{
							text-decoration:underline;
						}

/* ------- Language Styles ------------------------------------------- */		
	
	#language{		
		min-width:75px;
		width:auto !important;
		width:75px;
		color:#777;
		line-height:17px;
		padding:15px 0 0 0;
		float:right;
	}
		#language img {
			cursor:pointer;
		}
		
/* ------- Currency Styles ------------------------------------------- */				
	
	#currency{
		min-width:90px;
		width:auto !important;
		width:90px;
		float:right;
		color:#777;
		height:20px;
		line-height:20px;		
		padding:9px 0 0 0;
	}
	#currency, #currency a{
		font-weight:bold;
		font-size:14px;
	}
		#currency a{
			display:inline-block;
			padding:1px 6px;
			margin:0 2px;
			color:#777;
			text-decoration:none;
			border:1px solid #d3d3d3;
			-webkit-border-radius:5px;
			-moz-border-radius:5px;
			-khtml-border-radius:5px;
			border-radius:5px;
			-webkit-box-shadow:0 2px 0 #f0f0f0;
			-moz-box-shadow:0px 2px 0px #F0F0F0;
			box-shadow:0 2px 0 #f0f0f0;			
		}
			#currency a:hover{
				background:#f5f5f5;
			}
		#currency a b{
			color:#000;
			text-decoration:none;
		}
			
/* ------- Search Styles ------------------------------------------- */				
			
	#header #search{		
		float:right;
		width:219px;
		height:24px;
		overflow:hidden;
		margin:9px 0 7px 0;
		padding:0 0 0 10px;
		border:1px solid #d3d3d3;
		-webkit-border-radius:5px;
		-moz-border-radius:5px;
		-khtml-border-radius:5px;
		border-radius:5px;
		-webkit-box-shadow:0 2px 0 #f0f0f0;
		-moz-box-shadow:0px 2px 0px #F0F0F0;
		box-shadow:0 2px 0 #f0f0f0;
	}
	#header .button-search, #header #search input{
		border:none;
		outline:none;
		margin:0;
		padding:0;
	}
		#header .button-search{
			float:right;
			background:url(../image/button-search.png) center center no-repeat;
			width:28px;
			height:24px;			
			cursor:pointer;
			border-left:1px solid #d3d3d3;
		}
		#header #search input {
			float:left;
			background:#fff;			
			width:168px;
			height:22px;			
		}		
		
/* ------- Header Welcome MSG Styles ------------------------------------------- */			
		
	#header #welcome{		
		width:300px;
		height:15px;
		text-align:right;
		color:#777;
		float:right;
		font-weight:bold;		
	}		

/* ------- Menu Styles ------------------------------------------- */			
			
#menu{
	background:url(../image/menu-bg.png) no-repeat;	
	height:40px;
	margin-bottom:15px;	
	padding:0 20px;
}
	#menu ul{
		list-style:none;
		margin:0;
		padding:0;
	}
		#menu > ul > li{
			position:relative;
			float:left;
			z-index:20;	
		}
			#menu > ul > li:hover{
				background:url(../image/menu-hover.png) repeat;
			}
			#menu > ul > li > a{
				font-size:12px;
				color:#fff;
				line-height:14px;
				text-decoration:none;
				display:block;
				padding:12px 15px;
				z-index:6;
				position:relative;
				font-weight:bold;
			}
				#menu > ul > li > div{
					display:none;				
					position:absolute;
					z-index:99;					
					border:solid #106ecc;
					border-width:0 1px 1px 1px;
					background:#1171cf;					
					text-transform:capitalize;
				}
					#menu > ul > li:hover > div{
						display:table;
					}
					#menu > ul > li > div > ul{
						display:table-cell;
					}
					#menu > ul > li ul + ul{
						padding-left:20px;
					}
						#menu > ul > li ul > li > a{
							text-decoration:none;
							padding:8px 12px;
							color:#fff;
							display:block;
							white-space:nowrap;
							min-width:120px;
							border-bottom:1px solid #1682ef;
							font-weight:bold;
						}
							#menu > ul > li ul > li > a:hover{
								background:#0e65ba;
							}
						#menu > ul > li > div > ul > li > a{
							color:#fff;
						}
						
/* ------- Breadcrumb Styles ------------------------------------------- */						
						
.breadcrumb {	
	position:absolute;
	width:100%;
	top:-28px;
	left:0;
}
	.breadcrumb, .breadcrumb a{		
		font-weight:bold;
		text-decoration:none;
		color:#666;
	}
	.breadcrumb a{
		padding:0 3px;
	}
		.breadcrumb a:hover{
			text-decoration:underline;
			color:#106ecc;
		}

/* ------- Warning & help & Messages Styles ------------------------------------------- */

.success, .warning, .attention, .information{
	padding:10px 10px 10px 33px;
	margin-bottom:15px;
	color:#555;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	-khtml-border-radius:5px;
	border-radius:5px;
}
.success{
	background:#eaf7d9 url(../image/success.png) 10px center no-repeat;
	border:1px solid #bbdf8d;
}
.warning{
	background:#ffd1d1 url(../image/warning.png) 10px center no-repeat;
	border:1px solid #f8acac;
}
.attention{
	background:#fff5CC url(../image/attention.png) 10px center no-repeat;
	border:1px solid #f2dd8c;
}
.information{
	background:#e8f6ff url(../image/information.png) 10px center no-repeat;
	border:1px solid #b8e2fb;
}
.success .close, .warning .close, .attention .close, .information .close{
	float:right;
	padding-top:4px;
	padding-right:4px;
	cursor:pointer;
}
.required{
	color:#ff0000;
	font-weight:bold;
}
.error{
	display:block;
	color:#ff0000;
}
.help{
	color:#999;
	font-size:10px;
	font-weight:normal;
	font-family:Verdana, Geneva, sans-serif;
	display:block;
}

/* ------- Table>List/Form Styles ------------------------------------------- */

table.form{
	width:100%;
	border-collapse:collapse;
	margin-bottom:20px;
}
	table.form tr td:first-child{
		width:150px;
	}
	table.form > * > * > td{
		color:#000;
	}
	table.form td{
		padding:4px;
	}
	input.large-field, select.large-field{
		width:300px;
	}
	table.list{
		border-collapse:collapse;
		width:100%;
		border-top:1px solid #ddd;
		border-left:1px solid #ddd;
		margin-bottom:20px;
	}
	table.list td{
		border-right:1px solid #ddd;
		border-bottom:1px solid #ddd;
	}
	table.list thead td {
		background-color:#efefef;
		padding:0 5px;
	}
		table.list thead td a, .list thead td {
			text-decoration:none;
			color:#222;
			font-weight:bold;
		}
			table.list tbody td a {
				text-decoration:underline;
			}
	table.list tbody td {
		vertical-align:top;
		padding:0 5px;
	}
	table.list .left{
		text-align:left;
		padding:7px;
	}
	table.list .right{
		text-align:right;
		padding:7px;
	}
	table.list .center{
		text-align:center;
		padding:7px;
	}
	table.radio {
		width: 100%;
		border-collapse: collapse;
	}
	table.radio td {
		padding: 5px;
		vertical-align: top;
	}
	table.radio td label {
		display: block;
	}
	table.radio tr td:first-child {
		width: 1px;
	}
	table.radio tr td:first-child input {
		margin-top: 1px;
	}
	table.radio tr.highlight:hover td {
		background: #F1FFDD;
		cursor: pointer;
	}

/* ------- Pagination Styles ------------------------------------------- */	
	
.pagination{
	border:1px solid #d3d3d3;
	padding:1% 2%;
	display:inline-block;
	width:96%;
	margin-bottom:10px;
	background:#f3f3f3;
}
	.pagination .links{
		float:left;
	}
		.pagination .links a{
			display:inline-block;
			border:1px solid #eee;
			padding:4px 10px;
			text-decoration:none;
			color:#a3a3a3;
		}
		.pagination .links b{
			display:inline-block;
			border:1px solid #269bc6;
			padding:4px 10px;
			font-weight:normal;
			text-decoration:none;
			color:#269bc6;
			background:#fff;
		}
		.pagination .results{
			float:right;
			padding-top:3px;
		}

/* ------- Buttons Styles ------------------------------------------- */
		
a.button, input.button {	
	padding:5px 13px;
	background:#1171d0 url(../image/button-bg.png) center top repeat-x;
	text-decoration: none;
	cursor: pointer;	
	color: #fff;
	font-size: 11px;
	font-weight: bold;	
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	-khtml-border-radius:5px;
	border-radius:5px;
}
a.button {
	display: inline-block;
}
input.button{
	outline:none;	
	margin:0;
	border:none;
	font-family:Arial,Helvetica,sans-serif;
}
a.button:hover, input.button:hover {
	background:#1272d0 url(../image/button-bg-active.png) center top repeat-x;
}	
.buttons{
	background:#fff;
	border:1px solid #d3d3d3;
	overflow:auto;
	padding:6px;
	margin-bottom:20px;
}
	.buttons .left{
		float:left;
		text-align:left;
	}
	.buttons .right{
		float:right;
		text-align:right;
	}
	.buttons .center{
		text-align:center;
		margin-left:auto;
		margin-right:auto;
	}
	
/* ------- Tabs Styles ------------------------------------------- */	
	
.htabs{
	height:30px;		
	line-height:16px;
	border-bottom:1px solid #ddd;	
}
	.htabs a {
		-webkit-border-radius:5px 5px 0 0;
		-moz-border-radius:5px 5px 0 0;
		-khtml-border-radius:5px 5px 0 0;
		border-radius:5px 5px 0 0;
		background: #1797f1; /* Old browsers */
		background: -moz-linear-gradient(top, #1797f1 0%, #106ecd 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1797f1), color-stop(100%,#106ecd)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top, #1797f1 0%,#106ecd 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top, #1797f1 0%,#106ecd 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top, #1797f1 0%,#106ecd 100%); /* IE10+ */
		background: linear-gradient(top, #1797f1 0%,#106ecd 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1797f1', endColorstr='#106ecd',GradientType=0 ); /* IE6-9 */
		padding:7px 15px 6px 15px;
		float:left;
		font-family:Arial, Helvetica, sans-serif;
		font-size:13px;
		font-weight:bold;
		text-align:center;
		text-decoration:none;
		color:#fff;
		margin-right:2px;
		display:none;
	}
		.htabs a.selected{	
			padding-bottom:8px;
			-webkit-border-radius:5px 5px 0 0;
			-moz-border-radius:5px 5px 0 0;
			-khtml-border-radius:5px 5px 0 0;
			border-radius:5px 5px 0 0;
			background: #106ecd; /* Old browsers */
			background: -moz-linear-gradient(top, #106ecd 0%, #1797f1 100%); /* FF3.6+ */
			background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#106ecd), color-stop(100%,#1797f1)); /* Chrome,Safari4+ */
			background: -webkit-linear-gradient(top, #106ecd 0%,#1797f1 100%); /* Chrome10+,Safari5.1+ */
			background: -o-linear-gradient(top, #106ecd 0%,#1797f1 100%); /* Opera 11.10+ */
			background: -ms-linear-gradient(top, #106ecd 0%,#1797f1 100%); /* IE10+ */
			background: linear-gradient(top, #106ecd 0%,#1797f1 100%); /* W3C */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#106ecd', endColorstr='#1797f1',GradientType=0 ); /* IE6-9 */
		}
	.tab-content{
		border:1px solid #52beec;
		padding:10px;
		margin-bottom:20px;
		z-index:2;
		overflow:auto;
	}

/* ------- Box Styles ------------------------------------------- */	
	
.box{
	margin-bottom:20px;
}
	.box .box-heading{		
		padding:7px 5px 11px 12px;
		font-size:13px;
		font-weight:bold;
		line-height:14px;
		color:#fff;		
		-webkit-border-radius:5px 5px 0 0;
		-moz-border-radius:5px 5px 0 0;
		-khtml-border-radius:5px 5px 0 0;
		border-radius:5px 5px 0 0;
		background:#189af4 url(../image/box-top-bg.png) repeat-x bottom;
	}
	.box .box-content {
		background:#fff;			
		padding:0;		
		margin:2px 0 0 0;
	}	
		.box .box-content ul{
			margin:0;
			padding:0;
			list-style:none;
		}
			.box .box-content ul li {
				font-size:0;
			}			
				.box .box-content ul li a{
					padding: 8px 8px 8px 27px;				
					background:#f3f3f3 url(../image/bullet1.png) no-repeat 12px 14px;
					border-top: 2px solid #fff;	
					display:block;
					width:145px;
					text-decoration: none;
					color: #333;
					font-size:12px;
				}
					.box .box-content ul li a:hover{
						background:#e8e8e8 url(../image/bullet1.png) no-repeat 12px 13px;
					}
						.box .box-content ul li ul li{
							border:none;
						}
	#content .box .box-content{
/*		border:none;*/
		padding:5px 0 0 0;
	}

/* ------- Box Product Styles ------------------------------------------- */	
	
.box-product{
	width:100%;
	overflow:auto;
}	
	.box-product > div{
		width:134px;
		display:inline-block;
		vertical-align:top;
		margin:0 1px 5px;		
		background:#f3f3f3;
		border:1px solid #ddd;
		text-align:center;
		padding:15px 0;
	}
	.box-product > div:hover{
		background:#eaeaea;
		border:1px solid #d1d1d1;
	}
	#column-left + #column-right + #content .box-product > div {
		width: 141px;
	}
	.box-product .image{
		display:block;
		margin-bottom:0;
	}
		.box-product .image img{
		}
	.box-product .name a{
		color:#222;
		font-weight:bold;
		text-decoration:none;
		display:block;
		margin:8px 0;
		font-size:12px !important;
	}
		.box-product .name a:hover{
			color:#106ECC;
		}
	.box-product .price{
		display:block;
		font-weight:bold;
		color:#333;
		margin:8px 0;
	}
		.box-product .price-old{
			color:#f00;
			text-decoration:line-through;
		}
		.box-product .price-new{
			font-weight:bold;
		}
	.box-product .rating{
		display:block;
		margin-bottom:4px;
	}

/* ------- Box Category Styles ------------------------------------------- */	
	
.box-category {	
}
	.box-category ul {
		list-style: none;
		margin: 0;
		padding: 0;
	}
		.box-category ul li a{
			background:#f1f1f1 url(../image/bullet1.png) no-repeat 10px 14px !important;
			padding: 8px 8px 8px 24px !important;
			width:148px !important;
		}
			.box-category ul li a:hover{
				background:#e8e8e8 url(../image/bullet1.png) no-repeat 10px 14px !important;
			}
				.box-category > ul > li ul {
					display: none;
					margin:0;
					padding:0;
				}			
					.box-category > ul > li a.active {
						font-weight: bold;
					}
						.box-category > ul > li a.active + ul {
							display: block;
						}					
							.box-category > ul > li ul > li > a {
								text-decoration: none;
								display: block;
								font-size:11px;
								background:#f1f1f1 none !important;
								text-indent:12px;
							}
							.box-category > ul > li ul > li > a.active {
								font-weight: bold;
							}
								.box-category > ul > li ul > li > a:hover{
									background:#e8e8e8 none !important;
								}

/* ------- Content Class Styles ------------------------------------------- */							
						
#content .content{	
	overflow:auto;
	margin-bottom:20px;
}
	#content .content .left{
		float:left;
		width:49%;
	}
	#content .content .right{
		float:right;
		width:49%;
	}

/* ------- Category Info & List Styles (Content Area)  ------------------------------------------- */	
	
.category-info{
	overflow:auto;
	margin-bottom:20px;
	border:1px solid #d3d3d3;
	padding:10px;
}
	.category-info .image{
		float:left;
		padding:8px;
		margin-right:15px;
		border:1px solid #d3d3d3;
		background:#f3f3f3;
	}
	.category-list{
		overflow:auto;
		margin-bottom:20px;
	}
		.category-list ul{
			float:left;
			width:18%;
		}
	.category-list .div a{
		text-decoration:underline;
		font-weight:bold;
	}

/* ------- Manufacturer Styles ------------------------------------------- */	
	
.manufacturer-list{
	border:1px solid #dbdee1;
	padding:5px;
	overflow:auto;
	margin-bottom:20px;
}
	.manufacturer-heading{
		background:#f8f8f8;
		font-size:15px;
		font-weight:bold;
		padding:5px 8px;
		margin-bottom:6px;
	}
	.manufacturer-content{
		padding:8px;
	}
		.manufacturer-list ul{
			float:left;
			width:25%;
			margin:0 0 10px;
			padding:0;
			list-style:none;			
		}

/* ------- Products Filter/Sort/Compare Styles ------------------------------------------- */		
		
.product-filter{
	border:1px solid #d3d3d3;
	padding:8px 15px;
	overflow:auto;
}
	.product-filter .display{
		margin-right:15px;
		float:left;
		padding-top:4px;
		color:#333;
	}
		.product-filter .display a{
			font-weight:bold;
		}
	.product-filter .sort{
		float:right;
		color:#333;
	}
	.product-filter .limit{
		margin-left:15px;
		float:right;
		color:#333;
	}
	.product-compare{
		padding:8px 15px;
		margin-bottom:25px;
		font-weight:bold;
		border:solid #d3d3d3;
		border-width:0 1px 1px 1px;
	}
		.product-compare a{
			text-decoration:none;
			font-weight:bold;
		}
		
/* ------- Products List Styles ------------------------------------------- */		
		
	.product-list > div {
		overflow:auto;
		margin-bottom:15px;
		background:#f3f3f3;
		border:1px solid #ddd;
		padding:15px;
	}
		.product-list > div:hover{
			background:#eaeaea;
			border:1px solid #d1d1d1;
		}
	.product-list .right{
		float:right;
		margin-left:15px;
	}
		.product-list > div + div {
			padding-top:16px;
		}
	.product-list .image{
		float:left;
		margin-right:10px;
	}
		.product-list .image img{
		}
	.product-list .name{
		margin:8px 0;
		padding-top:5px;
	}
		.product-list .name a{
			color:#222;
			font-weight:bold;
			text-decoration:none;
			font-size:14px;
		}
			.product-list .name a:hover{
				color:#106ECC;
			}
	.product-list .description{
		line-height:15px;
		margin-bottom:5px;
		color:#4d4d4d;
	}
	.product-list .rating{
		color:#7b7b7b;
	}
	.product-list .price{
		float:right;
		height:50px;
		margin:8px 0 8px 8px;
		text-align:right;
		color:#333;
		font-size:12px;
		padding-top:5px;
	}
		.product-list .price-old{
			color:#f00;
			text-decoration:line-through;
		}
		.product-list .price-new{
			font-weight:bold;
		}
	.product-list .price-tax{
		font-size:12px;
		font-weight:normal;
		color:#bbb;
	}
	.product-list .cart{
		margin:8px 0;
		padding-top:5px;
	}
	.product-list .wishlist, .product-list .compare{
		margin-bottom:3px;
	}
		.product-list .wishlist a{
			color:#333;
			text-decoration:none;			
			display:block;
		}
		.product-list .compare a{
			color:#333;
			text-decoration:none;			
			display:block;
		}
		
/* ------- Products Grid Styles ------------------------------------------- */			
		
	.product-grid{
		width:100%;
		overflow:auto;
	}
		.product-grid > div{
			width:142px;
			display:inline-block;
			vertical-align:top;
			margin:0 1px 5px;		
			background:#f3f3f3;
			border:1px solid #ddd;
			text-align:center;
			padding:15px 0;
		}
			.product-grid > div:hover{
				background:#eaeaea;
				border:1px solid #d1d1d1;
			}
		#column-left + #column-right + #content .product-grid > div {
			width: 141px;
		}
	.product-grid .image{
		display:block;
		margin-bottom:0;
	}
		.product-grid .image img{
		}
		.product-grid .name a{
			color:#222;
			font-weight:bold;
			text-decoration:none;
			display:block;
			margin:8px 0;
			font-size:12px !important;
		}
			.product-grid .name a:hover{
				color:#106ECC;
			}
	.product-grid .description{
		display:none;
	}
	.product-grid .rating{
		display:block;
		margin-bottom:4px;
	}
	.product-grid .price{
		display:block;
		font-weight:bold;
		color:#333;
		margin:8px 0;
	}
		.product-grid .price-old{
			color:#f00;
			text-decoration:line-through;
		}
		.product-grid .price-new{
			font-weight:bold;
		}
	.product-grid .price .price-tax{
		display:none;
	}
	.product-grid .cart{
		margin-bottom:8px;
	}
	.product-grid .wishlist, .product-grid .compare{
		margin-bottom:3px;
	}
		.product-grid .wishlist a{
			color:#333;
			text-decoration:none;			
			display:block;
		}
		.product-grid .compare a{
			color:#333;
			text-decoration:none;			
			display:block;
		}

/* ------- Product Page Styles ------------------------------------------- */			
		
	.product-info{
		overflow:auto;
		margin-bottom:20px;
		border:1px solid #d3d3d3;
		padding:10px;
	}
		.product-info > .left{
			float:left;
			margin-right:15px;
		}
		.product-info > .left + .right{
			margin-left:265px;
		}
		.product-info .image {
			border: 1px solid #d3d3d3;
			float:left;
			margin-bottom:20px;
			padding:10px;
			text-align:center;
		}
		.product-info .image-additional{
			width:260px;
			margin-left:-10px;
			clear:both;
			overflow:hidden;
		}
			.product-info .image-additional img{
				border: 1px solid #d3d3d3;
			}
			.product-info .image-additional a{
				float:left;
				display:block;
				margin-left:10px;
				margin-bottom:10px;
			}
		.product-info .description{
			border-top: 1px solid #d3d3d3;
			border-bottom: 1px solid #d3d3d3;
			padding: 5px 5px 10px 5px;
			margin-bottom:10px;
			line-height:20px;
			color:#4d4d4d;
		}
			.product-info .description span {
				color:#222;
				font-weight:bold;
			}
			.product-info .description a{
				color:#222;
				text-decoration:none;
			}
		.product-info .price{
			overflow:auto;
			border-bottom: 1px solid #d3d3d3;
			padding:0 5px 10px 5px;
			margin-bottom:10px;
			font-size:15px;
			font-weight:bold;
			color:#333;
		}
			.product-info .price-old{
				color:#f00;
				text-decoration:line-through;
			}
			.product-info .price-new{				
			}
		.product-info .price-tax{
			font-size:12px;
			font-weight:normal;
			color:#999;
		}
		.product-info .price .reward{
			font-size:12px;
			font-weight:normal;
			color:#999;
		}
		.product-info .price .discount{
			font-weight:normal;
			font-size:12px;
			color:#4d4d4d;
		}
		.product-info .options{
			border-bottom: 1px solid #d3d3d3;
			padding:0 5px 10px 5px;
			margin-bottom:10px;
			color:#000;
		}
			.product-info .option-image{
				margin-top:3px;
				margin-bottom:10px;
			}
					.product-info .option-image label{
						display:block;
						width:100%;
						height:100%;
					}
					.product-info .option-image img{
						margin-right:5px;
						border:1px solid #d3d3d3;
						cursor:pointer;
					}
		.product-info .cart{
			border-bottom: 1px solid #d3d3d3;
			padding:0 5px 10px 5px;
			margin-bottom:20px;
			color:#4d4d4d;
			overflow:auto;
		}
			.product-info .cart div{
				float:left;
				vertical-align:middle;
			}
				.product-info .cart div > span {
					padding-top:7px;
					display:block;
					color:#999;
				}
			.product-info .cart .minimum{
				padding-top:5px;
				font-size:11px;
				color:#999;
				clear:both;
			}
		.product-info .review{
			color:#4d4d4d;
			border-top:1px solid #d3d3d3;
			border-left:1px solid #d3d3d3;
			border-right:1px solid #d3d3d3;
			margin-bottom:10px;
		}
			.product-info .review > div{
				padding:8px;
				border-bottom:1px solid #d3d3d3;
				line-height:20px;
			}
			.product-info .review > div > span {
				color:#38b0e3;
			}
	.product-info .review .share{
		overflow:auto;
		line-height:normal;
	}
		.product-info .review .share a{
			text-decoration:none;
		}
	.review-list {
		padding: 10px;
		overflow: auto;
		margin-bottom: 20px;
		border: 1px solid #EEEEEE;
	}
	.review-list .author {
		float: left;
		margin-bottom: 20px;
	}
	.review-list .rating {
		float: right;
		margin-bottom: 20px;
	}
	.review-list .text {
		clear: both;
	}
		
/* ------- Attribute Styles ------------------------------------------- */		
		
	.attribute{
		border-collapse:collapse;
		width:100%;
		border-top:1px solid #ddd;
		border-left:1px solid #ddd;
		margin-bottom:20px;
	}
		.attribute thead td, .attribute thead tr td:first-child{
			color:#000;
			font-size:14px;
			font-weight:bold;
			background:#f7f7f7;
			text-align:left;
		}
		.attribute tr td:first-child{
			color:#000;
			font-weight:bold;
			text-align:right;
			width:20%;
		}
		.attribute td{
			padding:7px;
			color:#4d4d4d;
			text-align:center;
			vertical-align:top;
			border-right:1px solid #ddd;
			border-bottom:1px solid #ddd;
		}
		
/* ------- Compare Info Styles ------------------------------------------- */			
		
	.compare-info{
		border-collapse:collapse;
		width:100%;
		border-top:1px solid #ddd;
		border-left:1px solid #ddd;
		margin-bottom:20px;
	}
		.compare-info thead td, .compare-info thead tr td:first-child{
			color:#000;
			font-size:14px;
			font-weight:bold;
			background:#f7f7f7;
			text-align:left;
		}
		.compare-info tr td:first-child{
			color:#000;
			font-weight:bold;
			text-align:right;
		}
		.compare-info td{
			padding:7px;
			width:20%;
			color:#4d4d4d;
			text-align:center;
			vertical-align:top;
			border-right:1px solid #ddd;
			border-bottom:1px solid #ddd;
		}
		.compare-info .name a{
			font-weight:bold;
		}
		.compare-info .price-old{
			font-weight:bold;
			color:#f00;
			text-decoration:line-through;
		}
		.compare-info .price-new{
			font-weight:bold;
		}

/* ------- Wishlist Styles ------------------------------------------- */		
		
	.wishlist-product table {
		width:100%;
		border-collapse:collapse;
		border-top:1px solid #ddd;
		border-left:1px solid #ddd;
		border-right:1px solid #ddd;
		margin-bottom:20px;
	}
		.wishlist-product td{
			padding:7px;
		}
		.wishlist-product thead td {
			color:#4d4d4d;
			font-weight:bold;
			background-color:#f7f7f7;
			border-bottom:1px solid #ddd;
		}
			.wishlist-product thead .remove, .wishlist-product thead .image, .wishlist-product thead .cart{
				text-align:center;
			}
			.wishlist-product thead .name, .wishlist-product thead .model, .wishlist-product thead .stock{
				text-align:left;
			}
			.wishlist-product thead .quantity, .wishlist-product thead .price, .wishlist-product thead .total{
				text-align:right;
			}
		.wishlist-product tbody td {
			vertical-align:top;
			border-bottom:1px solid #ddd;
		}
			.wishlist-product tbody .remove{
				vertical-align:middle;
			}
			.wishlist-product tbody .remove, .wishlist-product tbody .image, .wishlist-product tbody .cart{
				text-align:center;
			}
			.wishlist-product tbody .name, .wishlist-product tbody .model, .wishlist-product tbody .stock{
				text-align:left;
			}
			.wishlist-product tbody .quantity, .wishlist-product tbody .price, .wishlist-product tbody .total{
				text-align:right;
			}
			.wishlist-product tbody .price s{
				color:#f00;
			}
			
/* ------- Login Content Styles ------------------------------------------- */			
			
	.login-content{
		margin-bottom:20px;
		overflow:auto;
	}
		.login-content .left{
			float:left;
			width:48%;
		}
		.login-content .right{
			float:right;
			width:48%
		}
		.login-content .left .content, .login-content .right .content{
			min-height:190px;
		}

/* ------- Orders Styles ------------------------------------------- */			
		
	.order-list{
		margin-bottom:10px;
	}
		.order-list .order-id{
			width:49%;
			float:left;
			margin-bottom:2px;
		}
		.order-list .order-status{
			width:49%;
			float:right;
			text-align:right;
			margin-bottom:2px;
		}
		.order-list .order-content{
			padding:10px 0;
			display:inline-block;
			width:100%;
			margin-bottom:20px;
			border-top:1px solid #eee;
			border-bottom:1px solid #eee;
		}
			.order-list .order-content div{
				float:left;
				width:33.3%;
			}
	.order-list .order-info{
		text-align:right;
	}
	.order-detail{
		background:#efefef;
		font-weight:bold;
	}

/* ------- Returns Styles ------------------------------------------- */		
	
	.return-list{
		margin-bottom:10px;
	}
		.return-list .return-id{
			width:49%;
			float:left;
			margin-bottom:2px;
		}
		.return-list .return-status{
			width:49%;
			float:right;
			text-align:right;
			margin-bottom:2px;
		}
		.return-list .return-content{
			padding:10px 0;
			display:inline-block;
			width:100%;
			margin-bottom:20px;
			border-top:1px solid #eee;
			border-bottom:1px solid #eee;
		}
			.return-list .return-content div{
				float:left;
				width:33.3%;
			}
		.return-list .return-info{
			text-align:right;
		}
		.return-product{
			overflow:auto;
			margin-bottom:20px;
		}
		.return-name{
			float:left;
			width:33.3%;
		}
		.return-model{
			float:left;
			width:33.3%;
		}
		.return-quantity{
			float:left;
			width:33.3%;
		}
		.return-detail{
			overflow:auto;
			margin-bottom:20px;
		}
		.return-reason{
			float:left;
			width:33.3%;
		}
		.return-opened{
			float:left;
			width:33.3%;
		}
		.return-opened textarea {
			width:98%;
			vertical-align:top;
		}
		.return-remove{
			float:left;
			width:33.3%;
			padding-top:90px;
			text-align:center;
			vertical-align:middle;
		}
		.return-additional{
			overflow:auto;
			margin-bottom:20px;
		}
		.return-comment{
			float:left;
			width:49%;
		}
		.return-captcha{
			float:right;
			width:49%;
		}
		
/* ------- Download List Styles ------------------------------------------- */		
		
	.download-list{
		margin-bottom:10px;
	}
		.download-list .download-id{
			width:49%;
			float:left;
			margin-bottom:2px;
		}
		.download-list .download-status{
			width:49%;
			float:right;
			text-align:right;
			margin-bottom:2px;
		}
		.download-list .download-content{
			padding:10px 0;
			display:inline-block;
			width:100%;
			margin-bottom:20px;
			border-top:1px solid #eee;
			border-bottom:1px solid #eee;
		}
			.download-list .download-content div{
				float:left;
				width:33.3%;
			}
	.download-list .download-info{
		text-align:right;
	}

/* ------- Cart Styles ------------------------------------------- */		
	
	.cart-info table {
		width:100%;
		margin-bottom:20px;
		border-collapse:collapse;
		border-top:1px solid #ddd;
		border-left:1px solid #ddd;
		border-right:1px solid #ddd;
	}
		.cart-info td {
			padding:7px;
		}
		.cart-info thead td {
			color:#fff;
			font-weight:bold;
			background-color:#24a8e0;
			border-bottom:1px solid #ddd;
		}
			.cart-info thead .remove, .cart-info thead .image{
				text-align:center;
			}
			.cart-info thead .name, .cart-info thead .model{
				text-align:left;
			}
			.cart-info thead .quantity, .cart-info thead .price, .cart-info thead .total{
				text-align:right;
			}
		.cart-info tbody td {
			vertical-align:top;
			border-bottom:1px solid #ddd;
		}
			.cart-info tbody .remove{
				vertical-align:middle;
			}
			.cart-info tbody .remove, .cart-info tbody .image{
				text-align:center;
			}
			.cart-info tbody .name, .cart-info tbody .model{
				text-align:left;
			}
			.cart-info tbody .quantity, .cart-info tbody .price, .cart-info tbody .total{
				text-align:right;
			}
			.cart-info tbody span.stock{
				color:#f00;
				font-weight:bold;
			}
		.cart-module .cart-heading{
			border:1px solid #dbdee1;
			padding:8px 8px 8px 22px;
			font-weight:bold;
			font-size:13px;
			color:#555;
			margin-bottom:15px;
			cursor:pointer;
			background:#f8f8f8 url(../image/arrow-right.png) 10px 50% no-repeat;
		}
		.cart-module .active{
			background:#f8f8f8 url(../image/arrow-down.png) 7px 50% no-repeat;
		}
		.cart-module .cart-content{
			padding:0 0 15px 0;
			display:none;
			overflow:auto;
		}
		.cart-total{
			border-top:1px solid #ddd;
			overflow:auto;
			padding-top:8px;
			margin-bottom:15px;
		}
			.cart-total table {
				float:right;
			}
				.cart-total td{
					padding:3px;
					text-align:right;
				}

/* ------- Checkout Styles ------------------------------------------- */				
				
	.checkout-heading{
		background:#f8f8f8;
		border:1px solid #dbdee1;
		padding:8px;
		font-weight:bold;
		font-size:13px;
		color:#555;
		margin-bottom:15px;
	}
		.checkout-heading a{
			float:right;
			margin-top:1px;
			font-weight:normal;
			text-decoration:none;
		}
	.checkout-content{
		padding:0 0 15px 0;
		display:none;
		overflow:auto;
	}
		.checkout-content .left{
			float:left;
			width:48%;
		}
		.checkout-content .right{
			float:right;
			width:48%;
		}
		.checkout-content .buttons{
			clear:both;
		}
		.checkout-product table {
			width:100%;
			border-collapse:collapse;
			border-top:1px solid #ddd;
			border-left:1px solid #ddd;
			border-right:1px solid #ddd;
			margin-bottom:20px;
		}
			.checkout-product td{
				padding:7px;
			}
			.checkout-product thead td {
				color:#4d4d4d;
				font-weight:bold;
				background-color:#f7f7f7;
				border-bottom:1px solid #ddd;
			}
				.checkout-product thead .name, .checkout-product thead .model{
					text-align:left;
				}
				.checkout-product thead .quantity, .checkout-product thead .price, .checkout-product thead .total{
					text-align:right;
				}
			.checkout-product tbody td {
				vertical-align:top;
				border-bottom:1px solid #ddd;
			}
				.checkout-product tbody .name, .checkout-product tbody .model{
					text-align:left;
				}
				.checkout-product tbody .quantity, .checkout-product tbody .price, .checkout-product tbody .total{
					text-align:right;
				}
			.checkout-product tfoot td {
				text-align:right;
				border-bottom:1px solid #ddd;
			}
			
/* ------- Contact Styles ------------------------------------------- */			
			
.contact-info{
	overflow:auto;
}
	.contact-info .left{
		float:left;
		width:48%;
	}
	.contact-info .right{
		float:left;
		width:48%;
	}

/* ------- Sitemap Styles ------------------------------------------- */	

.sitemap-info{
	overflow:auto;
	margin-bottom:40px;
}
	.sitemap-info .left{
		float:left;
		width:48%;
	}
	.sitemap-info .right{
		float:left;
		width:48%;
	}

/* ------- Footer Columns Styles ------------------------------------------- */	
	
#footer{
	clear:both;
	overflow:auto;
	min-height:100px;
	padding:20px;
	border-top:1px solid #dbdee1;
	border-bottom:1px solid #dbdee1;
	background:#f8f8f8;
}
	#footer h3{
		color:#000;
		font-size:14px;
		margin-top:0;
		margin-bottom:8px;
	}
	#footer .column{
		float:left;
		width:25%;
		min-height:100px;
	}
		#footer .column ul{
			margin-top:0;
			margin-left:8px;
			padding-left:12px;
		}
			#footer .column ul li{
				margin-bottom:3px;
			}
				#footer .column a{
					text-decoration:none;
					color:#000;
				}
					#footer .column a:hover{
						text-decoration:underline;
					}

/* ------- Copyright & Powered By Styles ------------------------------------------- */					
					
	#powered{		
		clear:both;
		background:url(../image/menu-bg.png) no-repeat;	
		height:40px;
		line-height:40px;
		overflow:hidden;
		margin:0 0 15px;
		padding:0 20px;
	}
		#powered  br{
			display:none;
		}
		#powered, #powered a{
			color:#fff;
			text-decoration:none;
			font-size:11px;			
		}
			#powered a{
				font-weight:bold;
			}
				#powered a:hover{
					color:#fff;
					text-decoration:underline;
				}
		#powered ul.floatright{
			list-style:none;
			padding:0;
			margin:0;
		}
			#powered ul.floatright li{
				display:block;				
				float:left;
				padding:0 4px;
			}			

/* ------- Banner Styles ------------------------------------------- */	
	
	.banner div{
		text-align:center;
		width:100%;
	}
		.banner div img {
			margin-bottom:20px;
		}
	.cart-module > div {display:none;}